<div class="page-wrapper">
  <div class="sticky-header">
    <app-navbar></app-navbar>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <div class="d-flex flex-column px-5">
        <h1 class="mb-5 mt-2">Tinker on projects with friends</h1>
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cum
          doloribus, sapiente asperiores deserunt veritatis, commodi molestiae
          reiciendis, in rerum eligendi magni quam error earum et? Voluptates
          vitae culpa ex!
        </h2>
        <p>This is a simple frontend for the Tinker project.</p>
      </div>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
