	<div class="body">
	<!----NAVBAR GOES HERE------>
		<div class="navbar" id="navbar">
			<div class="logo">
				<a routerLink="/" routerLinkActive="active"
					><img src="../../../assets/images/logo.svg" alt="tinker logo"
				/></a>
			</div>
			<!-- NAVIGATION MENU -->
			<ul class="nav-links">
			<!-- USING CHECKBOX HACK -->

				<!-- NAVIGATION MENUS -->
				<div class="menu">
					<li><a routerLink="/about-page" routerLinkActive="active">About</a></li>
					<li class="login-btn">
						<a routerLink="/login" routerLinkActive="active">Login</a>
					</li>
				</div>
				</ul>
		</div>
		<img class="wide-screen" src="../../../assets/images/wide-pic.png" alt="project 2"/>
		<div class="content">
			<div>
				<h1 class="topic">Tinker on projects with friends!</h1>
				<!-- <img class="ladyPic" src="../../../assets/images/teamwork.png" alt="lady lookingat computer"/> -->
				<div class="summary">
					Research shows that collaboration fosters a productive learning
					environment, simulates a real work environment, and encourages
					problem-solving growth. Here at Tinker, you can find like-minded
					individuals to pursue passion projects with, browse through inspiring
					works in all fields, and give feedback on projects that catch your eye.
					Try collaborating today!
				</div>
				<div class="mid-pic">
					<img src="../../../assets/images/teamwork.png" alt="teamwork"/>
				</div>
				<br /><br /><br />
				<h3 class="topic">Popular Projects and Ideas</h3>
				<div class="projects">
					<img
					class="projectIMGs"
					src="../../../assets/images/project1.jpg"
					alt="project 1"
					/>
					<img
					class="projectIMGs"
					src="../../../assets/images/project2.jpg"
					alt="project 2"
					/>
					<img
					class="projectIMGs"
					src="../../../assets/images/project4.jpg"
					alt="project 3"
					/>
					<img
					class="projectIMGs"
					src="../../../assets/images/project3.jpg"
					alt="project 3"
					/>
					<img
					class="projectIMGs"
					src="../../../assets/images/project5.jpg"
					alt="project 3"
					/>
					<img
					class="projectIMGs"
					src="../../../assets/images/project6.jpg"
					alt="project 3"
					/>
				</div>
			</div>

			<!-- Crl/Cmd + / to comment -->
		</div>
	</div>

	<div class="footer">
	<!----FOOTER GOES HERE------>
	Tinker 2022 ©
	</div>
