<div class="navbar">
    <div class="title">
        Tinker
    </div>
    <img class="profile" src="../../../assets/images/profile.png" alt="Profile">
    <div class="signout">
        Sign Out
    </div>
</div>

<div class="project-container">
    <div class="left-arrow">
        cvfb
    </div>
    <div class="project-content">
        <div class="project-name"> 
            Title
        </div>
        <div class="project-description"> 
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis voluptate id magni officiis ratione aut accusamus voluptatem ipsum minus beatae dolorum, recusandae molestiae ab ex voluptatibus nihil eos reprehenderit quod?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quos accusantium, nobis explicabo velit hic sequi pariatur ipsa, ad minima distinctio accusamus, nesciunt iste iure voluptatibus ratione optio commodi ipsam!
        </div>
        <div></div>

    </div>
    <div class="right-arrow">
        df
    </div>
</div>