<div class="navbar" id="navbar">
  <div class="logo">
    <a routerLink="/" routerLinkActive="active"
      ><img src="../../../assets/images/logo.svg" alt="tinker logo"
    /></a>
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input id="checkbox_toggle" type="checkbox" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li><a routerLink="/about-page" routerLinkActive="active">About</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li>
        <a routerLink="create-account" routerLinkActive="active"
          >Create Account</a
        >
      </li>
      <li class="login-btn">
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </div>
  </ul>
</div>
<div class="about-section">
  <h1>About Us Page</h1>
  <br />
  <p>
    One day, our Web Programming professor announced that we were going to start
    a group project. The five of us turned to each other and Group 3 was born.
    From there, we were inspired by the best qualities of Tinder and LinkedIn.
    Naturally, we built our project around the idea that students should be able
    to work on any project together, all in one platform.
  </p>
</div>
<br />
<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="../../../assets/images/orion.jpeg"
        alt="Orion"
        style="width: 100%"
      />
      <div class="container">
        <h2>Orion Yang</h2>
        <p class="title">CEO & Founder</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../../assets/images/jake.JPG"
        alt="Jake"
        style="width: 100%"
      />
      <div class="container">
        <h2>Jake Hubbard</h2>
        <p class="title">CFO</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../../assets/images/eugene.jpg"
        alt="Eugene"
        style="width: 100%"
      />
      <div class="container">
        <h2>Eugene Hong</h2>
        <p class="title">COO</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img
        src="../../../assets/images/alex.jpg"
        alt="Alex"
        style="width: 100%"
      />
      <div class="container">
        <h2>Alex Choi</h2>
        <p class="title">CTO</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../../assets/images/chloe.JPG"
        alt="Chloe"
        style="width: 100%"
      />
      <div class="container">
        <h2>Chloe Lee</h2>
        <p class="title">CCO</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <!----FOOTER GOES HERE------>
  Tinker 2022 ©
</div>
