* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    font-size: 100px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 19%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: crimson;
    color: white;
}

.about-content {
    padding-left: 400px;
    padding-right: 400px;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: crimson;
}

/* NAVBAR STYLING START */
.navbar {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: #fff;
}

#navbar {
    border-bottom: 1px solid rgba(205, 205, 205, 0.3);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}

.menu li:hover {
    background-color: rgba(109, 109, 109, 0.2);
    border-radius: 10px;
}

/* RESPONSIVE NAVBAR MENU STARTS HERE*/
/* CHECKBOX HACK STYLING */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* NAVBAR STYLING END */

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: crimson;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}