<nav class="navbar ms-auto navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="#">
      <img
        src=".././assets/images/Logo-Tinker.svg"
        type="image/svg+xml"
        alt="Tinker Logo"
        width="222"
        height="82"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Create Account</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active"
            ><button class="btn btn-primary me-2" type="button">
              Login
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
