*{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.body{
    color: #FFFFFF;
    height: 200vh;
    width: 100vw;
    background-color: #3d3d3d;
}

.header{
    letter-spacing: 1px;
    font-size: 40px;
    color: crimson;
}

.verification-container {
    margin:auto;
    width: 40%;
    padding-top: 50px;
}

a, a:visited{
    color:crimson;
}

a:hover{
    color:lightgray;
}

.verify-btn {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    display: block;
    margin-left: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.verify-btn:hover{
    background-color:rgb(228, 54, 54);
}

.verification-form{
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 80px 40px 40px;
    background: rgba(184, 184, 184, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.8);
}

.verification-form h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: crimson;
}

.verification-form .input-group{
    position: relative;
}

.verification-form .input-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.verification-form .input-group label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.verification-form .input-group input:focus + label, .verification-form .input-group input:valid + label{
    transform: translateY(-18px);
    color: crimson;
    font-size: 0.9rem;
}

.error-message {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px;
}