<div class="body">
    <div class="verification-container">
        <h3 class="header">Reset Password</h3>
        <form class="verification-form">

            <div *ngIf="!emailSent">
                <h2>Enter your email address:</h2>
                <p class="error-message" *ngIf="invalidEmail">INVALID EMAIL ADDRESS</p>
                <br>
                <div class="input-group">
                    <input type="text" name="emailAddress" [(ngModel)]="emailAddress" required autofocus>
                    <label for="emailAddress">Email address</label>
                </div>
                <a><input type="submit" value="Send" class="verify-btn" (click)="sendVerificationCode()"></a>
            </div>
            
            <div *ngIf="emailSent && !validCode">
                <h2>Enter the verification code sent to your email:</h2>
                <p class="error-message" *ngIf="enteredWrongCode">INVALID VERIFICATION CODE</p>
                <div class="input-group">
                    <input type="text" name="verificationCode" [(ngModel)]="typedVerificationCode" required autofocus>
                    <label for="verificationCode">Verification Code</label>
                </div>
                <a><input type="submit" value="Verify" class="verify-btn" (click)=verifyConfirmationCode() ></a>
            </div>

            <div *ngIf="emailSent && validCode">
                <h2>Enter your new password below:</h2>
                
                <div class="input-group">
                    <input type="text" name="newPassword" [(ngModel)]="newPassword" required autofocus>
                    <label for="newPassword">New Password</label>
                </div>
                <a><input type="submit" value="Save" class="verify-btn" (click)="savePassword()" ></a>
            </div>
            
        </form>
    </div>
</div>
